button{
    margin-left: 0%;
    margin-bottom: 2%;
}
.btn-u{
  text-align: center;
 margin: auto;
 margin-top: 3%;
  
}
/* 
input[type=search] {
    height: 40px;
    width:600px ;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  
  input[type="submit"]:hover {
    background: #b80000;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #205b77;
    border: 1px solid darkblue;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
  }
  
  .home-content .sales-boxes .form{
    
    background: #fff;
    padding: 20px 30px;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 12px;
   
    width: 80%;
  } */

  